@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar-light .navbar-brand {
  font-weight: 700;
}
.navbar-light .navbar-nav .nav-link {
  font-weight: 500 !important;
  font-size: 18px;
}
.bi {
  cursor: pointer;
  font-size: 18px;
}

/* Slider */
.w-100 {
  height: 60vh !important;
  object-fit: cover !important;
}
.carousel-indicators [data-bs-target] {
  height: 12px !important;
  width: 12px !important;
  border-radius: 50% !important;
}
.carousel-caption {
  right: 10% !important;
  bottom: 20% !important;
  color: black !important;
  text-align: left !important;
}
.slide-text {
  font-family: 'Courier New', Courier, monospace;
}

/* About us */
.hr {
  margin: auto !important;
  width: 150px;
  height: 5px;
  background-color: #b18161;
  margin-bottom: 55px !important;
}
.img-fluid1 {
  width: 100% !important;
  height: 90vh !important;
}

/* Product */
.card-img-top {
  transform-origin: 65% 75% !important;
  transition: transform 1s, filter 0.5s ease-out !important;
}
.card-img-top:hover {
  transform: scale(1.1) !important;
}

/* Blog Section */
.btn-primary {
  background-color: #3843c7 !important;
  border: #3843c7 !important;
}

/* FOOTER */
.nav-link {
  color: black !important;
}
.footer {
  background-color: #ddd6d2;
}
.main-footer {
  padding: 10px !important;
  background-color: black !important;
  color: white !important;
  text-align: center;
}
